.custom-Buttom {
    width: 200px;
    height: 60px;
    border: none;
    background-color: #FF4747;
    color: white;
    border-radius: 50px;
    margin-top: 50px;
    font-size: 18px;
    
    &&:hover {
        background-color: #282828;
        transition: background-color 0.3s ease;
    }
}